.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-uzUWs8EDG-MU);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-84OznVjrzwQE);
  outline-style: none;
  flex-shrink: 0;
  border-radius: var(--token-FMa2ESSwFue4);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-sJ-Mh2QQSca_);
  outline-offset: var(--token-oBPaHorCPsvr);
  outline-color: var(--token-P3pY4hW-hruc);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-oOeY1tjzbpTj);
  font-size: var(--token-uRaIPZCV7sjI);
  column-gap: var(--token-3rwMHEPuP2lQ);
  row-gap: 0px;
  border-radius: var(--token-IBp6cbG0sBym);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-vk8mOMjVg3LL);
  line-height: var(--token-ih-8Kn2oVrci);
  column-gap: var(--token-3rwMHEPuP2lQ);
  row-gap: 0px;
  border-radius: var(--token-IBp6cbG0sBym);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-yNQeduYFfp0z);
  line-height: var(--token-zvamvZkoaGPR);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-LfEzUUsxjMI4);
  line-height: var(--token-jxFgOrvet40v);
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootfancy:global(.__wab_instance) {
  box-shadow: 4px 4px 0px 0px var(--token-vPcVbhmFW_Uk);
}
.overlay {
  min-width: 0px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: var(--token-HEbTfTUMOiup);
  z-index: 2;
  display: none;
  border-radius: var(--token-FMa2ESSwFue4);
}
.root[data-hovered] .overlay {
  z-index: 1;
}
.overlaybackgroundEffect_soften {
  display: block;
}
.overlaybackgroundEffect_darken {
  background: var(--token-nyPqcYjp0tLq);
  display: block;
}
.overlayshape_square {
  border-radius: var(--token-soG-EU23PMAX);
}
.overlayshape_pill {
  border-radius: var(--token-AzltKQGXEt0e);
}
.overlayflatSide_top {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-top-left-radius: var(--token-soG-EU23PMAX);
}
.overlayflatSide_right {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.overlayflatSide_bottom {
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.overlayflatSide_left {
  border-top-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-7n2cu9XRALfI);
  z-index: 1;
  display: none;
  border-radius: var(--token-FMa2ESSwFue4);
}
.root[data-hovered] .background {
  display: none;
}
.backgroundcolor_primary {
  background: var(--token-KEOfq5mLg9an);
  display: none;
}
.backgroundcolor_secondary {
  background: var(--token-oUn-FpFOKgg8);
  display: none;
}
.backgroundcolor_neutral {
  background: var(--token-lShzAVsYALZ2);
}
.backgroundcolor_info {
  background: var(--token-zCPJjUZExeKH);
  display: none;
}
.backgroundcolor_positive {
  background: var(--token-Cn3aKyrYHxff);
  display: none;
}
.backgroundcolor_notice {
  background: var(--token-MW1mSdHR8gN2);
  display: none;
}
.backgroundcolor_negative {
  background: var(--token-CYKabxVACu1B);
  display: none;
}
.backgroundcolor_inverse {
  background: var(--token-AsCx_ZHCD6MG);
  display: none;
}
.backgroundkind_fill {
  display: block;
}
.backgroundkind_subtle {
  background: var(--token-esMSzi6WyBay);
  display: block;
}
.backgroundkind_text {
  display: none;
}
.backgroundbackgroundEffect_soften {
  display: block;
}
.backgroundbackgroundEffect_darken {
  display: block;
}
.backgroundshape_square {
  border-radius: var(--token-soG-EU23PMAX);
}
.backgroundshape_pill {
  border-radius: var(--token-AzltKQGXEt0e);
}
.backgroundflatSide_top {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-top-left-radius: var(--token-soG-EU23PMAX);
}
.backgroundflatSide_right {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.backgroundflatSide_bottom {
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.backgroundflatSide_left {
  border-top-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-FMa2ESSwFue4);
  border: var(--token-R6kHB7cmb3l-) solid var(--token-Tk4brAgO27eq);
}
.bordercolor_primary {
  border-color: var(--token-34sra6Iz5mzk);
}
.bordercolor_secondary {
  border-color: var(--token-xkPKVFDhH9Fo);
}
.bordercolor_neutral {
  border-color: var(--token--ZmKdQ0mXzhy);
}
.bordercolor_info {
  border-color: var(--token-d02dAKu--Ugq);
}
.bordercolor_positive {
  border-color: var(--token-bDehwF1Rv4kX);
}
.bordercolor_notice {
  border-color: var(--token-h4g9Dx3rf--_);
}
.bordercolor_negative {
  border-color: var(--token-9agAQKXOP2k_);
}
.bordercolor_inverse {
  border-color: var(--token-tQ277BA7uTmd);
}
.borderkind_fill {
  display: none;
}
.borderkind_subtle {
  display: none;
}
.borderkind_text {
  display: none;
}
.borderkind_bordered {
  border-width: var(--token-9b_2_vokw6-q);
}
.bordershape_square {
  border-radius: var(--token-soG-EU23PMAX);
}
.bordershape_pill {
  border-radius: var(--token-d_c6S_N_TERQ);
}
.borderflatSide_top {
  border-top-left-radius: var(--token-soG-EU23PMAX);
  border-top-right-radius: var(--token-soG-EU23PMAX);
}
.borderflatSide_right {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.borderflatSide_bottom {
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.borderflatSide_left {
  border-top-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-FMa2ESSwFue4);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-KjmSl_WIj3HP);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-NGVGA4tHS3Hx);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-AYMPBqHdDnr8);
}
.interactionEffectshape_square {
  border-radius: var(--token-soG-EU23PMAX);
}
.interactionEffectshape_pill {
  border-radius: var(--token-AzltKQGXEt0e);
}
.interactionEffectflatSide_top {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-top-left-radius: var(--token-soG-EU23PMAX);
}
.interactionEffectflatSide_right {
  border-top-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
}
.interactionEffectflatSide_bottom {
  border-bottom-right-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.interactionEffectflatSide_left {
  border-top-left-radius: var(--token-soG-EU23PMAX);
  border-bottom-left-radius: var(--token-soG-EU23PMAX);
}
.contentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 400;
  min-width: 0;
  min-height: 0;
  padding: var(--token-QtOsXwg9cNy9) var(--token-0aj5wtmuK7bn);
}
.contentContainer > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-ajgXl41GKJCt));
  width: calc(100% + var(--token-ajgXl41GKJCt));
}
.contentContainer > :global(.__wab_flex-container) > *,
.contentContainer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentContainer > :global(.__wab_flex-container) > picture > img,
.contentContainer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-ajgXl41GKJCt);
}
.contentContainercompact {
  padding: var(--token-FqoFFJ5YKl8x);
}
.freeBox__iEsEz {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__iEsEzpTk4F {
  display: flex;
}
.slotTargetStart {
  color: var(--token-EnB4FOlJba1M);
}
.slotTargetStartcolor_primary {
  color: var(--token-OpD8om_gpN70);
}
.slotTargetStartcolor_secondary {
  color: var(--token-1R_TeQHVhm3S);
}
.slotTargetStartcolor_neutral {
  color: var(--token-bxL6U7HOb8qx);
}
.slotTargetStartcolor_info {
  color: var(--token-CNxc4ucFcnYj);
}
.slotTargetStartcolor_positive {
  color: var(--token-0R68nMIhBcI7);
}
.slotTargetStartcolor_notice {
  color: var(--token-lmB8WGCa51cC);
}
.slotTargetStartcolor_negative {
  color: var(--token-fnzo8I0NdFdG);
}
.slotTargetStartcolor_inverse {
  color: var(--token-5pjUb1pJnAYJ);
}
.slotTargetStartkind_fill {
  color: var(--token-FGh6oEt9WOqO);
}
.slotTargetStartbackgroundEffect_darken {
  color: var(--token-FGh6oEt9WOqO);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-vk8mOMjVg3LL);
}
.slotTargetStartsize_small {
  font-size: var(--token-vk8mOMjVg3LL);
}
.slotTargetStartsize_large {
  font-size: var(--token-yNQeduYFfp0z);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-yNQeduYFfp0z);
}
.slotTargetStartkind_fill_color_neutral {
  color: var(--token-cGzyRTIMutX0);
}
.slotTargetStartkind_fill_color_notice {
  color: var(--token-EnyM44VkfcOH);
}
.slotTargetStartcolor_inverse_kind_fill {
  color: var(--token-NIMDP9EV3dWm);
}
.slotTargetStartcolor_inverse_kind_subtle {
  color: var(--token-NIMDP9EV3dWm);
}
.svg__zBl3 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-EnB4FOlJba1M);
}
.slotTargetLabelcolor_primary {
  color: var(--token-OpD8om_gpN70);
}
.slotTargetLabelcolor_secondary {
  color: var(--token-1R_TeQHVhm3S);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-bxL6U7HOb8qx);
}
.slotTargetLabelcolor_info {
  color: var(--token-CNxc4ucFcnYj);
}
.slotTargetLabelcolor_positive {
  color: var(--token-0R68nMIhBcI7);
}
.slotTargetLabelcolor_negative {
  color: var(--token-fnzo8I0NdFdG);
}
.slotTargetLabelcolor_inverse {
  color: var(--token-5pjUb1pJnAYJ);
}
.slotTargetLabelkind_fill {
  color: var(--token-FGh6oEt9WOqO);
}
.rootkind_fill[data-hovered] .slotTargetLabelkind_fill {
  color: var(--token-bxL6U7HOb8qx);
}
.slotTargetLabelbackgroundEffect_soften {
  color: var(--token-Kk3LflUrtX-D);
}
.slotTargetLabelbackgroundEffect_darken {
  color: var(--token-3K1XPLOUagrV);
}
.slotTargetLabelkind_fill_color_neutral {
  color: var(--token-cGzyRTIMutX0);
}
.slotTargetLabelkind_fill_color_notice {
  color: var(--token-EnyM44VkfcOH);
}
.slotTargetLabelcolor_inverse_kind_fill {
  color: var(--token-NIMDP9EV3dWm);
}
.slotTargetLabelcolor_inverse_kind_subtle {
  color: var(--token-NIMDP9EV3dWm);
}
.text__aq1Dx {
  white-space: pre;
}
.freeBox__wFTiK {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__wFTiK3LsxF {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-EnB4FOlJba1M);
}
.slotTargetEndcolor_primary {
  color: var(--token-OpD8om_gpN70);
}
.slotTargetEndcolor_secondary {
  color: var(--token-1R_TeQHVhm3S);
}
.slotTargetEndcolor_neutral {
  color: var(--token-cGzyRTIMutX0);
}
.slotTargetEndcolor_info {
  color: var(--token-CNxc4ucFcnYj);
}
.slotTargetEndcolor_positive {
  color: var(--token-0R68nMIhBcI7);
}
.slotTargetEndcolor_notice {
  color: var(--token-lmB8WGCa51cC);
}
.slotTargetEndcolor_negative {
  color: var(--token-fnzo8I0NdFdG);
}
.slotTargetEndcolor_inverse {
  color: var(--token-5pjUb1pJnAYJ);
}
.slotTargetEndkind_fill {
  color: var(--token-FGh6oEt9WOqO);
}
.slotTargetEndbackgroundEffect_darken {
  color: var(--token-FGh6oEt9WOqO);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-vk8mOMjVg3LL);
}
.slotTargetEndsize_small {
  font-size: var(--token-vk8mOMjVg3LL);
}
.slotTargetEndsize_large {
  font-size: var(--token-yNQeduYFfp0z);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-yNQeduYFfp0z);
}
.slotTargetEndkind_fill_color_neutral {
  color: var(--token-cGzyRTIMutX0);
}
.slotTargetEndkind_fill_color_notice {
  color: var(--token-EnyM44VkfcOH);
}
.slotTargetEndcolor_inverse_kind_fill {
  color: var(--token-NIMDP9EV3dWm);
}
.slotTargetEndcolor_inverse_kind_subtle {
  color: var(--token-NIMDP9EV3dWm);
}
.svg__z5W9N {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
