.freeBox__tUacy {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-XEbqGQcKqfTm);
}
.freeBox__tUacy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tUacy > :global(.__wab_flex-container) > *,
.freeBox__tUacy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tUacy > :global(.__wab_flex-container) > picture > img,
.freeBox__tUacy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___8MehX {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox___8MehX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8MehX > :global(.__wab_flex-container) > *,
.freeBox___8MehX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8MehX > :global(.__wab_flex-container) > picture > img,
.freeBox___8MehX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-_88veX5OnWra) !important;
  min-width: 0;
}
.freeBox__w9PsI {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__w9PsI > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__w9PsI > :global(.__wab_flex-container) > *,
.freeBox__w9PsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w9PsI > :global(.__wab_flex-container) > picture > img,
.freeBox__w9PsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__kCmai {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.text__xyFff {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vElpv {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__vElpv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vElpv > :global(.__wab_flex-container) > *,
.freeBox__vElpv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vElpv > :global(.__wab_flex-container) > picture > img,
.freeBox__vElpv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__gJGnT {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.text__o3YKp {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__dVmJj {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__dVmJj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dVmJj > :global(.__wab_flex-container) > *,
.freeBox__dVmJj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dVmJj > :global(.__wab_flex-container) > picture > img,
.freeBox__dVmJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__h9KRi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.text___4YAtt {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.text__pLg9M {
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__acwcu {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__acwcu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__acwcu > :global(.__wab_flex-container) > *,
.freeBox__acwcu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__acwcu > :global(.__wab_flex-container) > picture > img,
.freeBox__acwcu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsDataFetcher__xV2Ae:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__kM0K {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
}
.freeBox__kM0K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kM0K > :global(.__wab_flex-container) > *,
.freeBox__kM0K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kM0K > :global(.__wab_flex-container) > picture > img,
.freeBox__kM0K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsDataFetcher__x09M2:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__oOPmj {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
}
.freeBox__oOPmj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__oOPmj > :global(.__wab_flex-container) > *,
.freeBox__oOPmj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oOPmj > :global(.__wab_flex-container) > picture > img,
.freeBox__oOPmj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsEntryField__zmUtF:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 600;
}
.cmsEntryField___3MMjm:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text___1U8Vy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.cmsEntryField__tPz3M:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__u22G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
