.root {
  display: grid;
  min-width: 0px;
  height: 100%;
  position: relative;
  background: var(--token-mtNUSRJBQoDc);
  width: 100%;
  align-content: flex-start;
  justify-items: center;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1024px) {
  .root > * {
    grid-column: 4;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 544px) {
  .root > * {
    grid-column: 4;
  }
}
.layoutNavigationBar:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  height: auto;
  margin-bottom: var(--token-REl6-oiMkGMC);
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
@media (max-width: 1024px) {
  .layoutNavigationBar:global(.__wab_instance):global(.__wab_instance) {
    height: auto;
  }
}
.freeBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0px;
  width: 100%;
  height: 100%;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.layoutFooter:global(.__wab_instance) {
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
