.cmsDataFetcher__oXcnM:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__r6WFf {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-PAasirat-b8m);
}
.freeBox__r6WFf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r6WFf > :global(.__wab_flex-container) > *,
.freeBox__r6WFf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r6WFf > :global(.__wab_flex-container) > picture > img,
.freeBox__r6WFf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.columns {
  display: flex;
  flex-direction: row;
  min-width: 0px;
  width: 100%;
  position: relative;
  height: auto;
  flex-shrink: 1;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__cOn3N {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: auto;
  height: 100%;
  min-height: 0;
}
.freeBox__cOn3N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cOn3N > :global(.__wab_flex-container) > *,
.freeBox__cOn3N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cOn3N > :global(.__wab_flex-container) > picture > img,
.freeBox__cOn3N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__s8Qh9 {
  display: flex;
  flex-direction: row;
  min-width: 0px;
}
.freeBox__s8Qh9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__s8Qh9 > :global(.__wab_flex-container) > *,
.freeBox__s8Qh9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s8Qh9 > :global(.__wab_flex-container) > picture > img,
.freeBox__s8Qh9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: var(--token-odtnWPaUINxa) !important;
  min-width: 0;
}
.freeBox__iK9Iq {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__iK9Iq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iK9Iq > :global(.__wab_flex-container) > *,
.freeBox__iK9Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iK9Iq > :global(.__wab_flex-container) > picture > img,
.freeBox__iK9Iq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.cmsDataFetcher__t3Onk:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__zY4V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 8px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: fill;
  height: 300px;
  width: 1200px;
}
.img > picture > img {
  object-fit: fill;
}
.text__jMy0J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__v5CtE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__ehJIt {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__ehJIt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ehJIt > :global(.__wab_flex-container) > *,
.freeBox__ehJIt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ehJIt > :global(.__wab_flex-container) > picture > img,
.freeBox__ehJIt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__wF2WY {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.text__gClta {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__qDw1J {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__qDw1J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qDw1J > :global(.__wab_flex-container) > *,
.freeBox__qDw1J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qDw1J > :global(.__wab_flex-container) > picture > img,
.freeBox__qDw1J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3___1OiHq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.cmsDataFetcher__jsu79:global(.__wab_instance) {
  display: grid;
  max-width: 100%;
  object-fit: cover;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.componentsLearningLearnings:global(.__wab_instance) {
  max-width: 100%;
}
.text__aiaLh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__umOTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___5HGv0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__cGv9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
