.cmsDataFetcher__fq21Q:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__bfXkx {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-PAasirat-b8m);
}
.freeBox__bfXkx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bfXkx > :global(.__wab_flex-container) > *,
.freeBox__bfXkx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bfXkx > :global(.__wab_flex-container) > picture > img,
.freeBox__bfXkx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__biVlt {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.freeBox__biVlt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__biVlt > :global(.__wab_flex-container) > *,
.freeBox__biVlt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__biVlt > :global(.__wab_flex-container) > picture > img,
.freeBox__biVlt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.cmsDataFetcher___4AwNl:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox___1T0Pq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  min-width: 0;
  padding: 8px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: cover;
  width: 100%;
  opacity: 0.6;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__lbBKa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__eYrj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.h2 {
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  margin-top: var(--token-_88veX5OnWra) !important;
}
.freeBox__emJkt {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__emJkt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__emJkt > :global(.__wab_flex-container) > *,
.freeBox__emJkt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__emJkt > :global(.__wab_flex-container) > picture > img,
.freeBox__emJkt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__jTpKi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__aciOv {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  width: 100%;
  cursor: pointer;
}
.freeBox__aciOv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__aciOv > :global(.__wab_flex-container) > *,
.freeBox__aciOv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aciOv > :global(.__wab_flex-container) > picture > img,
.freeBox__aciOv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsDataFetcher___2KfW8:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox___46Ter {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___6Bu1E {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__tUiXt {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
}
.freeBox__tUiXt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tUiXt > :global(.__wab_flex-container) > *,
.freeBox__tUiXt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tUiXt > :global(.__wab_flex-container) > picture > img,
.freeBox__tUiXt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
  font-weight: 600;
}
.text___1WGc5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lKwzR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___8BAos {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox___8BAos > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___8BAos > :global(.__wab_flex-container) > *,
.freeBox___8BAos > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8BAos > :global(.__wab_flex-container) > picture > img,
.freeBox___8BAos
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zDxVr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__kIyLd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__za5Gc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
