.root {
  display: flex;
  flex-direction: row;
  min-width: 0px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  position: relative;
  --plsmc-rc-col-gap: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 8px;
}
.root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .root {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .root > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-c3wL1N_z3DUA) var(--token-oEonbNytLOMX);
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-_88veX5OnWra) !important;
  min-width: 0;
}
.h2global_theme_dark {
  margin-top: var(--token-_88veX5OnWra) !important;
}
@media (max-width: 1024px) {
  .h2 {
    margin-top: var(--token-_88veX5OnWra) !important;
  }
}
.freeBox__jl3Jz {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  min-width: 0px;
}
.freeBox___9HxBe {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox___9HxBe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox___9HxBe > :global(.__wab_flex-container) > *,
.freeBox___9HxBe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9HxBe > :global(.__wab_flex-container) > picture > img,
.freeBox___9HxBe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.baseComponentsListItem__m6L7N:global(.__wab_instance) {
  max-width: 100%;
}
.svg__uWUhi {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__qsd70:global(.__wab_instance) {
  max-width: 100%;
}
.svg__meIKj {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__qvSvm:global(.__wab_instance) {
  max-width: 100%;
}
.svg__cvjRq {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__iwQc7:global(.__wab_instance) {
  max-width: 100%;
}
.svg__aMyR0 {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsButton__zaOvL:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__avf6X {
  position: relative;
  height: 1em;
}
.text___57F84 {
  white-space: pre;
}
.svg__rj9Q {
  position: relative;
  height: 1em;
}
.componentsLearningLearningGrid__yeG1Z:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid__yeG1Z:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid__yeG1Z:global(.__wab_instance) {
    display: none;
  }
}
.componentsLearningLearningGrid__bpDi:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid__bpDi:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid__bpDi:global(.__wab_instance) {
    display: none;
  }
}
.hackALongs:global(.__wab_instance) {
  position: relative;
}
.freeBox__uw1L2 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__uw1L2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__uw1L2 > :global(.__wab_flex-container) > *,
.freeBox__uw1L2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uw1L2 > :global(.__wab_flex-container) > picture > img,
.freeBox__uw1L2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.baseComponentsListItem__uYxWb:global(.__wab_instance) {
  max-width: 100%;
}
.svg___8V2Fu {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__unzmo:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tkLb {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__wPgLi:global(.__wab_instance) {
  max-width: 100%;
}
.svg__tgkzU {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsListItem__pi3K:global(.__wab_instance) {
  max-width: 100%;
}
.textglobal_theme_dark__d6Qsae6UCs {
  text-align: right;
}
.svg__oiGIx {
  position: relative;
  object-fit: cover;
  width: var(--token-y_UZf5QfML7E);
  height: var(--token-y_UZf5QfML7E);
  flex-shrink: 0;
}
.baseComponentsButton___6Y3J0:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__um7M4 {
  position: relative;
  height: 1em;
}
.text__hpIe7 {
  white-space: pre;
}
.svg__dz4R8 {
  position: relative;
  height: 1em;
}
.componentsLearningLearningGrid___73QXt:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid___73QXt:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid___73QXt:global(.__wab_instance) {
    display: none;
  }
}
.componentsLearningLearningGrid__btB9N:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid__btB9N:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid__btB9N:global(.__wab_instance) {
    display: none;
  }
}
.captureTheFlag:global(.__wab_instance) {
  position: relative;
}
.text___5DQMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  min-width: 0;
}
.baseComponentsButton__okR1S:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__z4Pt4 {
  position: relative;
  height: 1em;
}
.text__qreXg {
  white-space: pre;
}
.svg__fD6RO {
  position: relative;
  height: 1em;
}
.componentsLearningLearningGrid__yAdl5:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid__yAdl5:global(.__wab_instance) {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid__yAdl5:global(.__wab_instance) {
    display: none;
  }
}
.componentsLearningLearningGrid__aczna:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
@media (max-width: 1024px) {
  .componentsLearningLearningGrid__aczna:global(.__wab_instance) {
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .componentsLearningLearningGrid__aczna:global(.__wab_instance) {
    display: none;
  }
}
