.root:global(.__wab_instance) {
  display: flex;
  object-fit: cover;
  left: auto;
  top: auto;
  position: relative;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: var(--token-mOS7eJLEHsAU) var(--token-mOS7eJLEHsAU) 0px;
}
@media (max-width: 1024px) {
  .root:global(.__wab_instance) {
    left: auto;
    top: auto;
    position: relative;
  }
}
.link__anPg1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___83GKr {
  height: 64px;
  object-fit: cover;
  margin: var(--token-AgtCIVkApoLQ);
}
.img___83GKr > picture > img {
  object-fit: cover;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-ME63Vz4St9Og);
  height: var(--token-ME63Vz4St9Og);
  display: none;
}
@media (min-width: 0px) and (max-width: 767px) {
  .svg {
    display: block;
  }
}
.img__chZeM {
  object-fit: cover;
}
.img__chZeM > picture > img {
  object-fit: cover;
}
.freeBox__fkfna {
  display: flex;
  min-width: 0px;
  flex-direction: row;
  margin-left: var(--token-coulfmoNPufH);
  position: relative;
}
.freeBox__fkfna > :global(.__wab_flex-container) {
  flex-direction: row;
}
@media (max-width: 1024px) {
  .freeBox__fkfna {
    display: flex;
    flex-direction: column-reverse;
    left: auto;
    top: auto;
    position: relative;
  }
}
@media (max-width: 1024px) {
  .freeBox__fkfna > :global(.__wab_flex-container) {
    flex-direction: column-reverse;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-1xj0T_trqrQe));
    height: calc(100% + var(--token-1xj0T_trqrQe));
  }
}
@media (max-width: 1024px) {
  .freeBox__fkfna > :global(.__wab_flex-container) > *,
  .freeBox__fkfna > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fkfna > :global(.__wab_flex-container) > picture > img,
  .freeBox__fkfna
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-1xj0T_trqrQe);
  }
}
.freeBox__rQdIy {
  display: flex;
  flex-direction: row;
  min-width: 0px;
  width: auto;
  align-self: flex-end;
  margin-right: var(--token-K72AYDYsYBi8);
  margin-left: var(--token-K72AYDYsYBi8);
}
.freeBox__rQdIy > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - var(--token-K72AYDYsYBi8));
  width: calc(100% + var(--token-K72AYDYsYBi8));
}
.freeBox__rQdIy > :global(.__wab_flex-container) > *,
.freeBox__rQdIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rQdIy > :global(.__wab_flex-container) > picture > img,
.freeBox__rQdIy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-K72AYDYsYBi8);
}
@media (max-width: 1024px) {
  .freeBox__rQdIy {
    width: auto;
    align-self: flex-end;
    margin-left: var(--token-K72AYDYsYBi8) !important;
  }
}
@media (max-width: 1024px) {
  .freeBox__rQdIy > :global(.__wab_flex-container) {
    justify-content: flex-end;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rQdIy {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: var(--token-K72AYDYsYBi8) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rQdIy > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-end;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-K72AYDYsYBi8));
    height: calc(100% + var(--token-K72AYDYsYBi8));
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__rQdIy > :global(.__wab_flex-container) > *,
  .freeBox__rQdIy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rQdIy > :global(.__wab_flex-container) > picture > img,
  .freeBox__rQdIy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-K72AYDYsYBi8);
  }
}
.link__v9Vvi {
  color: var(--token-PAoHRQ4EmQ87);
  font-size: var(--token-vk8mOMjVg3LL);
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
}
.pathwaysNavItem:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.pathwayStack {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-lx5fyBqvnJ0X);
  width: var(--token-fkk8uLtjKI1v);
  border-radius: var(--token-mAayyMEZFCz7);
  padding: var(--token-8K7lNARaD8Wd);
}
.pathwayStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-Vm1_QsLvAQR5));
  height: calc(100% + var(--token-Vm1_QsLvAQR5));
}
.pathwayStack > :global(.__wab_flex-container) > *,
.pathwayStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.pathwayStack > :global(.__wab_flex-container) > picture > img,
.pathwayStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Vm1_QsLvAQR5);
}
.text__cmol2 {
  color: var(--token-PAoHRQ4EmQ87);
  font-size: var(--token-vk8mOMjVg3LL);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.resourcesNavItem:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.resourceStack {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-lx5fyBqvnJ0X);
  width: var(--token-fkk8uLtjKI1v);
  border-radius: var(--token-mAayyMEZFCz7);
  padding: var(--token-8K7lNARaD8Wd);
}
.resourceStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-Vm1_QsLvAQR5));
  height: calc(100% + var(--token-Vm1_QsLvAQR5));
}
.resourceStack > :global(.__wab_flex-container) > *,
.resourceStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.resourceStack > :global(.__wab_flex-container) > picture > img,
.resourceStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Vm1_QsLvAQR5);
}
.text__o9MQx {
  color: var(--token-PAoHRQ4EmQ87);
  font-size: var(--token-vk8mOMjVg3LL);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.aboutUsNavItem:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.aboutUsStack {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--token-lx5fyBqvnJ0X);
  width: var(--token-fkk8uLtjKI1v);
  border-radius: var(--token-mAayyMEZFCz7);
  padding: var(--token-8K7lNARaD8Wd);
}
.aboutUsStack > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - var(--token-Vm1_QsLvAQR5));
  height: calc(100% + var(--token-Vm1_QsLvAQR5));
}
.aboutUsStack > :global(.__wab_flex-container) > *,
.aboutUsStack > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUsStack > :global(.__wab_flex-container) > picture > img,
.aboutUsStack
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Vm1_QsLvAQR5);
}
.text___7UioQ {
  color: var(--token-PAoHRQ4EmQ87);
  font-size: var(--token-vk8mOMjVg3LL);
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.freeBox__hoems {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}
.freeBox__hoems > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - var(--token-1xj0T_trqrQe));
  height: calc(100% + var(--token-1xj0T_trqrQe));
}
.freeBox__hoems > :global(.__wab_flex-container) > *,
.freeBox__hoems > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hoems > :global(.__wab_flex-container) > picture > img,
.freeBox__hoems
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-1xj0T_trqrQe);
}
@media (max-width: 1024px) {
  .freeBox__hoems {
    align-self: flex-end;
  }
}
@media (max-width: 1024px) {
  .freeBox__hoems > :global(.__wab_flex-container) {
    align-items: flex-end;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .freeBox__hoems {
    display: none;
  }
}
.baseComponentsSocialIcons:global(.__wab_instance) {
  max-width: 100%;
  align-self: flex-end;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 767px) {
  .baseComponentsSocialIcons:global(.__wab_instance) {
    display: none;
  }
}
.freeBox___6ImSl {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 0px;
  width: auto;
}
.freeBox___6ImSl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - var(--token-K72AYDYsYBi8));
  width: calc(100% + var(--token-K72AYDYsYBi8));
}
.freeBox___6ImSl > :global(.__wab_flex-container) > *,
.freeBox___6ImSl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6ImSl > :global(.__wab_flex-container) > picture > img,
.freeBox___6ImSl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-K72AYDYsYBi8);
}
.baseComponentsButton__qpPmm:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__eLxb2 {
  position: relative;
  height: 1em;
}
.text__yCtyu {
  color: var(--token-PAoHRQ4EmQ87);
  font-size: var(--token-vk8mOMjVg3LL);
  white-space: pre;
}
.svg__aJaN {
  position: relative;
  height: 1em;
}
.baseComponentsButton__w5D3V:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__dZ5H {
  position: relative;
  height: 1em;
}
.text__zXgDy {
  color: var(--token-F2j0Fb6y5GQ3);
  font-size: var(--token-vk8mOMjVg3LL);
}
.svg___9VknI {
  position: relative;
  height: 1em;
}
