.root:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.cmsDataFetcher__zLthl:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox___1FV9S {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-PAasirat-b8m);
}
.freeBox___1FV9S > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1FV9S > :global(.__wab_flex-container) > *,
.freeBox___1FV9S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1FV9S > :global(.__wab_flex-container) > picture > img,
.freeBox___1FV9S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.columns {
  display: flex;
  flex-direction: row;
  min-width: 0px;
  width: 100%;
  position: relative;
  height: auto;
  flex-shrink: 1;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__zCjQt {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: auto;
  height: 100%;
  min-height: 0;
}
.freeBox__zCjQt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__zCjQt > :global(.__wab_flex-container) > *,
.freeBox__zCjQt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zCjQt > :global(.__wab_flex-container) > picture > img,
.freeBox__zCjQt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__ahBpy {
  display: flex;
  flex-direction: row;
  min-width: 0px;
}
.freeBox__ahBpy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ahBpy > :global(.__wab_flex-container) > *,
.freeBox__ahBpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ahBpy > :global(.__wab_flex-container) > picture > img,
.freeBox__ahBpy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: var(--token-odtnWPaUINxa) !important;
  min-width: 0;
}
.freeBox__e5RGi {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__e5RGi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__e5RGi > :global(.__wab_flex-container) > *,
.freeBox__e5RGi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e5RGi > :global(.__wab_flex-container) > picture > img,
.freeBox__e5RGi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.cmsDataFetcher__b1T9:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__woLih {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: cover;
  width: 600px;
  border-radius: var(--token-jEqeY4gFUhl0);
}
.img > picture > img {
  object-fit: cover;
}
.text__d7QMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__saQu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.baseComponentsSocialIcons:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__pkpS2 {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__pkpS2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pkpS2 > :global(.__wab_flex-container) > *,
.freeBox__pkpS2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkpS2 > :global(.__wab_flex-container) > picture > img,
.freeBox__pkpS2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.tiptapRichTextEditor:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
}
.text__bir6K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__qDn2R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__afIjy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
