.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  min-width: 0;
  row-gap: var(--token-sHlmFxGfQFv5);
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.baseComponentsLabel:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox___3XTqn {
  display: flex;
  flex-direction: column;
}
.freeBox__iaAxo {
  flex-direction: row;
  position: absolute;
  height: var(--token-aXf16WUbBqHn);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Z7HPUArf31IK) var(--token-QTw48A2tUpP9);
}
.freeBoxiconStart__iaAxoLOcVd {
  display: flex;
}
.slotTargetStart {
  color: var(--token-dTErV2sM4cwT);
}
.svg__icxf6 {
  position: relative;
  height: 1em;
}
.textInput:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.textInputmultiline:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.textAreaInputmultiline:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox__z8P3B {
  height: var(--token-aXf16WUbBqHn);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-Z7HPUArf31IK) var(--token-QTw48A2tUpP9);
}
.freeBoxiconEnd__z8P3BSkdE {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-dTErV2sM4cwT);
}
.svg__lBqDe {
  position: relative;
  height: 1em;
}
.baseComponentsDescription:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
