.cmsDataFetcher__f3OgR:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__iIoxN {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: var(--token-PAasirat-b8m);
}
.freeBox__iIoxN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iIoxN > :global(.__wab_flex-container) > *,
.freeBox__iIoxN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iIoxN > :global(.__wab_flex-container) > picture > img,
.freeBox__iIoxN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.columns {
  display: flex;
  flex-direction: row;
  min-width: 0px;
  width: 100%;
  position: relative;
  height: auto;
  flex-shrink: 1;
  --plsmc-rc-col-gap: 0px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  --plsmc-rc-col-gap: 8px;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 8px;
}
.columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.column > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.column > :global(.__wab_flex-container) > *,
.column > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column > :global(.__wab_flex-container) > picture > img,
.column
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__a0Mjc {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: auto;
  height: 100%;
  min-height: 0;
}
.freeBox__a0Mjc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a0Mjc > :global(.__wab_flex-container) > *,
.freeBox__a0Mjc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a0Mjc > :global(.__wab_flex-container) > picture > img,
.freeBox__a0Mjc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__v7VNo {
  display: flex;
  flex-direction: row;
  min-width: 0px;
}
.freeBox__v7VNo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__v7VNo > :global(.__wab_flex-container) > *,
.freeBox__v7VNo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v7VNo > :global(.__wab_flex-container) > picture > img,
.freeBox__v7VNo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: var(--token-odtnWPaUINxa) !important;
  min-width: 0;
}
.freeBox__tn2Oo {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__tn2Oo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tn2Oo > :global(.__wab_flex-container) > *,
.freeBox__tn2Oo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tn2Oo > :global(.__wab_flex-container) > picture > img,
.freeBox__tn2Oo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__ab3M4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.freeBox__md4Je {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
}
.freeBox__md4Je > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__md4Je > :global(.__wab_flex-container) > *,
.freeBox__md4Je > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__md4Je > :global(.__wab_flex-container) > picture > img,
.freeBox__md4Je
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.cmsDataFetcher__m9JzE:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__sCoZi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryImage:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.img {
  object-fit: cover;
  width: 600px;
  border-radius: var(--token-jEqeY4gFUhl0);
}
.img > picture > img {
  object-fit: cover;
}
.text__noYwD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___3J3Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.baseComponentsSocialIcons:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__pDlbB {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__pDlbB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pDlbB > :global(.__wab_flex-container) > *,
.freeBox__pDlbB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pDlbB > :global(.__wab_flex-container) > picture > img,
.freeBox__pDlbB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__naT6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.text__caGxW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__gstAr {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  width: 100%;
}
.freeBox__gstAr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__gstAr > :global(.__wab_flex-container) > *,
.freeBox__gstAr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gstAr > :global(.__wab_flex-container) > picture > img,
.freeBox__gstAr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h3__yNmxT {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  margin-top: var(--token-_Ip5z4yPqvT7) !important;
  min-width: 0;
}
.componentsLearningLearnings:global(.__wab_instance) {
  max-width: 100%;
}
.text__zgGqd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__caV1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
